/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use '@/assets/layout/layout.scss';
@use '@/assets/demo/demo.scss';

.text-red {
    color: red !important;
}

.text-green {
    color: #22c55e !important;
}

.flex-center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}